{{ define "main" }}

    {{ partial "preloader.html" . }}

    {{ partial "hero-area.html" . }}

    {{ partial "navigation.html" . }}

    {{ partial "start.html" . }}

    {{ partial "supported.html" . }}

    {{ partial "about.html" . }}

    {{ partial "features.html" . }}

    {{ partial "counter.html" . }}

    {{ partial "team.html" . }}

    {{ partial "enterprise.html" . }}

    {{ partial "testimonial.html" . }}

    {{ partial "blog.html" . }}

    {{ partial "contact.html" . }}

{{ end }}